.login-box {
  
  width: 320px; /*ancho*/
  height: 420px; /*alto*/
  background:  #69BADD;/*color de fondo*/
  top:  50%; 
  left: 50%;
  position: absolute; /*posicion*/
  transform: translate(-50%, -50%);/*centrar*/
  padding: 70px, 30px; /*espaciado interno*/
}
    
    /*Edicion de los labeles en la caja de login (ingrese contraseña y usuario)*/
.login-box label {
      margin-left: 20px; /*margen derecho*/
      padding: 0; /*espaciado interno*/
      font-weight: bold; /*peso de la fuente*/
      display: block; /*para que se vea como una sola linea*/
    }
.hola{
  hh
}
