/*estilizacion de los contenedores de texto*/
.container{
  background-color: rgba(255,255,25,0.1); /*color de fondo*/
  height: 800 px;/*alto*/

  backdrop-filter: blur(2px);
  border: solid 1px rgba(255,255,255, 05);
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
}