/*se seleccionan específicamente los espoacios de input de etxto y email*/
input[type=text], [type=email], select, textarea {
  width: 100%; /*porcentaje de ancho*/
  padding: 12px; /*espacio de relleno*/
  border: 1px solid #ccc; /*modificacion del borde*/
  margin-top: 6px; /*Modificacion del margen superior*/
  margin-bottom: 16px; /*modificacion del margen inferior*/
  resize: vertical; /*Propiedad para que se pueda cambiar el tamaño en sentido vertical*/
}

/*se modifica el espacio de input de submit*/
input[type=submit] {
  background-color: rgb(26, 180, 65); /*Color de fondo*/
  color: white; /*color de la letra*/
  padding: 12px 20px; /*espaciado interno*/
  border: none; /*sin borde*/
  cursor: pointer; /*propiedad que modifica el tipo de cursor cuando está sobre el elemento*/
}

/*se modifica como se ve el input de submit cuando se le pasa el cursor sobre este*/
input[type=submit]:hover {
  background-color: #e4ee52 ; /*color de fondo*/
}

/*se modifica la clase de contactform*/
.contactform {
  position: relative; /*posición relativa al flujo del docuemnto*/    
  border-radius: 50px; /*radio del borde*/
  background-color: #d89090; /*color de fondo*/
  padding: 5px; /*espaciado interno*/
  z-index:2; /*se indica el orden de posicion de la clase*/
  display: block; /*La clase es tratada como bloque*/
  /*modificacion automatica de los margenes: izquierdo, derecho e inferior*/
  margin-left: auto; 
  margin-right: auto;
  margin-bottom:auto;
  margin-top:3%;    
  width: 50%; /*Se modifica la anchura del elemento*/
    
    
}


.contactform:hover { 
 animation-name: gradient;
 animation-duration: 15s;
 animation-iteration-count: infinite;    
    
   
}

/*estilizacion de la clase column*/
.column {
  float: center; /*ubica este elemento en el centro*/
  width: 50%; /*Se modifica la anchura del elemento*/
  margin-top: 6px; /*Margen superior*/
  padding: 20px; /*espaciado interno*/
  display: block; /*Se trata como un bloque*/
  margin-left: auto; /*margen izquierdo*/
  margin-right: auto; /*margen derecho*/
  
    
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


