/*Estilización del cuerpo*/
body{
  background-image: url(https://wallpapercave.com/wp/wp6761080.jpg); /*imagen de fondo*/
  background-size: cover; /*tamaño de la imagen de fondo, en este caso al mayor posible sin estirarla*/
  background-repeat: no-repeat; /*no permite que la imagen se repita*/
  background-position: center; /*se centra la imagen*/
}

/*estilizacion del contenedor general del foro*/
.container{
  background-color: rgba(255,255,255,0.1);  /*color de fondo, se usa rgba para controlar los colores rojo, verde, azul y el alpha, que es la opacidad*/
  height: 700 px; /*altura*/

  backdrop-filter: blur(2px); /*Permite aplicar efectos de detrás del elemento*/
  border: solid 1px rgba(255,255,255, 05); /*borde*/
  border-radius: 5px; /*radio del borde*/
  width: 50%; /*ancho*/
  margin: 0 auto; /*margenes automatica
  padding-bottom: 50px;
  
}

/*estilizacion del contenedor de los posts*/
.container section{
  border: solid black; /*color del borde*/
  border-width: auto; /*tamaño del borde*/
  font-family: Baskerville; /*Fuente*/
  margin-top: 20px; /*margen ente posts*/
}

/*estilizacion de los titulos*/
.container h3{
  font-weight: bold; /*Negrilla*/
  font-size: 30px; /*tamaño de la fuente*/
  border-bottom: black; /*Color del borde inferior*/
  border-bottom-style: double; /*estilo del borde inferior*/
}

/*estilización del contenido de los posts*/
.container p{
  font-size: 25px /*tamaño de la fuente*/
}