/*Estilización del cuerpo*/
body{
  background-image: url(https://wallpapercave.com/wp/wp6761080.jpg); /*imagen de fondo*/
  background-size: cover; /*tamaño de la imagen de fondo, en este caso al mayor posible sin estirarla*/
  background-repeat: no-repeat; /*no permite que la imagen se repita*/
  background-position: center; /*se centra la imagen*/
}

.container{
  background-color: rgba(255,255,255,0.1);
  height: 700 px;

  backdrop-filter: blur(2px);
  border: solid 1px rgba(255,255,255, 05);
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
}

/*estilizacion del contenedor de los posts*/
.container section{
  border: solid black; /*color del borde*/
  border-width: auto; /*tamaño del borde*/
}

/*estilizacion de los titulos*/
.container h3{
  font-family: Baskerville;
  font
}