/* estilo a la imagen de fondo, imagene estática, tamaño 100 para que complete la pagina, color e imagen de fondo */
body::before {
  content: '';
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;/* indica que el texto se muestre al frente, para que no sea tapado por los otros elementos de fondo*/
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://c1.wallpaperflare.com/preview/401/399/725/stethoscope-medical-health-doctor-macbook-laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*estilos a el titulo y parrafo, grueso, altura de casilla y alineación, eapciado de la letra */
h1 {
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  
}
*/
p {
  font-weight: 400;
  line-height: 1.2;
  font-size: 3rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}