<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/A-I.css">
<head>

	<!--BOOTSTRAP-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	 crossorigin="anonymous">
	<title> Sobre Nosotros | WHY</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>


<!--Botones redes sociales-->

<head>
    <meta charset="utf-8">
    <title>Social Buttons</title>
    <link rel="stylesheet" href="static/redsocial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>

    <!--contenedor con los distintos botones-->
    <div class="social">
      <a href="https://www.facebook.com/WHY-104964775097761" target="null">Facebook <i class="fab fa-facebook"></i></a>
      <a href="https://youtu.be/UlXwUW3MiO4" target="null">Youtube <i class="fab fa-youtube" ></i></a>
      <a href="#"target="null">Instagram <i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/ProyectoWhy" target="null">Twitter <i class="fab fa-twitter"></i></a>
    </div>
    

</body>
<!--termina codigo botones redes sociales-->


<body>
	<!--Barra de navegación-->
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #69BADD; border: 3px solid; color: black;">
		<!--Color y estilo de la barra de navegación-->

		<div class="container-fluid ">
			<!--Contenedor-->
			<a class="navbar-brand " href="# ">
				<h1><strong><span style="color: #000000; font-family: Arial"><form action="https://ta04-11.naah411.repl.co/">
						<input type="submit" value= "W.H.Y 🪐" /></form> </strong></h1> <!--Titulo barra de navegacion-->
			<button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup
	 " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup "><!--secciones de la pagina-->
      <div class="navbar-nav ">
        <a class="nav-link " href="/ ">Inicio</a> 
       <!--Indicador de pagina actual-->
        <a class="nav-link active" aria-current="page " href="/about">Sobre Nosotros</a>
        <a class="nav-link " href="/agenda"">Agenda</a>
        <a class="nav-link " href="/foro  ">Foro</a>
        <a class="nav-link " href="# ">Mapa</a>
        <a class="nav-link " href="# ">QR</a>
        <a class="nav-link " href="/login ">Ingresa</a>
        <a class="nav-link " href="/contact ">Contáctanos</a>
      
      </div>
    </div>
  </div>
</nav>

<p>&nbsp;</p>

<style>
  body {
    background-image: url('https://www.sketchappsources.com/resources/source-image/macos-big-sur-safari-wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 125% 100%;
  }
  </style>

<div class = 'container'>
  <p>&nbsp;</p>
  
  <!--a continuacion presentamos H1 como  encabezado y el comando center, el cual, centra el texto presentado en el entorno de la plataforma-->
  <h1><center>¿Quienes somos?</center> </h1>

  <!--luego tenemos el comano nbsp que represnta 'non breaking space' el cual nos represnta un espacio en blanco-->

  <p>&nbsp;</p>

  <!-- Tenemos a continuacion el comando que nos permite invocar una imagen que puede ser buscada desde la web y representada en la plataforma, donde las caracterisicas 'class', 'img stye', 'widht', 'height' da margen color de margen, ancho de margen, y tamaño de la imagen respectivamente -->

  <img src="https://revistadigital.inesem.es/educacion-sociedad/files/2016/04/que-es-una-comunidad-de-aprendizaje.jpg" class="rounded mx-auto d-block" img style="border: 3px solid; color: black;"   width="450" height="300" />


  <link rel="stylesheet" href="static/css/style.css">

  <!--A continuacion tenemos el comando strong que me asigna al texto objetivo la cualidad de negrilla-->

  <!--tenemos el comando p como el elemento parrafo que es apropiado para distribuir texto en parrafos, donde sus respectivas etiquetas abren y cierran la misma-->
  
    <p>&nbsp;</p>
    <div class="margin">
      <p class="lead", style= "text-align:justify">

        Somos un grupo de tres estudiantes de la Universidad Nacional de Colombia, que como proyecto enfocado a la programacion decidimos crear <strong>WHY (Wellness and Health for You / bienestar y salud para t&iacute;)</strong>, una plataforma para ayudar a personas con c&aacute;ncer, buscando ser un apoyo incesante como comunidad durante todo el proceso del usuario, ya que, somos conscientes del arduo proceso que puede representar una lucha de estas magnitudes. Somos un aliado incansable para cualquiera que se esfuerce por gestionar las realidades de esta enfermedad y asi mejorar el estilo de vida de ellos y de muchas otras personas m&aacute;s.

      </p>
    </div>
</div>

 <p>&nbsp;</p>

    <!--agregamos texto dentro de la un recuadro-->
    <div class="container"> <!--div se usa para que cubra todo el espacio-->
      <!--h2 se representa como encabezado-->
      <h2><center>Ten en cuenta lo siguiente:</center> </h2>

      <!--la etiqueta span permite aplicar estilo  al texto y permite agrupar elementos en linea-->

      <span class="border", style= "text-align:justify">
        <p> Es importante aclarar que como fundadores del WHY, ninguno de nosotros estamos especializados en ningun ambito de la medicina, ni mucho menos pretendemos de forma directa brindar un acompañamiento profesional,por lo que bajo ninguna circunstancia lo expuesto en esta plataforma reemplazará los consejos que un profesional de salud puede brindar en sus visitas.
        </p>

      </span> 
    </div>   

<p>&nbsp;</p>

<footer  style="width:100%; margin-left: 0px;"  >

  <div class="copyright" style="background-color: #0d47a1;">
      <div class="container-fluid" style="background-color: #28374f; color: #ffffff; text-align: center;">
         ©  Copyright: todos los derechos reservados
      <div class="container-fluid" style="background-color: #28374f; color: #ffffff; text-align: center;">
          Desarrolladores: Natalia Andrea Álvarez Hoyos, Julián David Carrillo Reyes, Juan Jose Sanchez Mejia
      </div>
      <div class="container-fluid" style="background-color: #28374f; color: #ffffff; text-align: center;">
         Medellín - Colombia
      </div>
      <div class="container-fluid" style="background-color: #28374f; color: #ffffff; text-align: center;">
         Universidad Nacional de Colombia
      </div>
  </div>
</footer>


</html>