<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/foro.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Foro | WHY</title>
  	<!--BOOTSTRAP-->
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
  		<!--Barra de navegación-->
  
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #69BADD; border: 3px solid; color: black; "> <!--Color y estilo de la barra de navegación-->

		<div class="container-fluid "> <!--Contenedor-->
			<a class="navbar-brand " href="# ">
				<h1><strong><span style="color: #000000; font-family: Arial"><form action="https://ta04-1.ta04.repl.co/">
						<input type="submit" value= "W.H.Y 🪐" /></form> </strong></h1> <!--Titulo barra de navegacion-->
			<button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup
	 " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup "><!--secciones de la pagina-->
      <div class="navbar-nav ">
        <a class="nav-link active" aria-current="page"  href="/ ">Inicio</a> 
       <!--Indicador de pagina actual-->
        <a class="nav-link " href="/about">Sobre Nosotros</a>
        <a class="nav-link " href="/calendar">Agenda</a>
        <a class="nav-link " href="/foro  ">Foro</a>
        <a class="nav-link " href="# ">Mapa</a>
        <a class="nav-link " href="# ">QR</a>
        <a class="nav-link " href="/login ">Ingresa</a>
        <a class="nav-link " href="/contact ">Contáctanos</a>
        
      </div>
    </div>
  </div>
</nav>

<p>&nbsp;</p>

<body>
  
  <div class='container'>
    <p>&nbsp;</p>
    <!--Se crean dos botones, uno para ir al foro y otro para agregar una entrada-->
    <center>
      <a class="btn btn-secondary" href="foro" 
      role="button"> <font font size=5> Foro </font></a>
      <a class="btn btn-secondary" href="agregar_entrada" 
      role="button"> <font font size=5> Agregar una entrada</font></a>
    </center>
    
    <!-- Para obtener los diferentes datos del foro, se crea un ciclo for-->
    {% for post in posts %}
    <section>

        <!--Titulo del post-->
        <h3> {{ post[0] }} </h3>
      
        <!--Contenido del post-->
        <p> {{ post[1] }} </p>

        <!--Nombre o apodo del usuario
        <p> {{ post.nombre }} </p>-->

      </section> 

    {% endfor %}
  </div>
</body> 

</body>
</html>