<!DOCTYPE html>
<html lang="en">
<!--se importa la hoja de estilos contenida en la carpeta de statics-css-->
<link rel="stylesheet" href="static/foro.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Foro | WHY</title>
  	<!--BOOTSTRAP-->
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
  		<!--Barra de navegación-->
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #69BADD; border: 3px solid; color: black; "> <!--Color y estilo de la barra de navegación-->

		<div class="container-fluid "> <!--Contenedor-->
			<a class="navbar-brand " href="# ">
				<h1><strong><span style="color: #000000; font-family: Arial"><form action="/">
						<input type="submit" value= "W.H.Y 🪐" /></form> </strong></h1> <!--Titulo barra de navegacion-->
			<button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup
	 " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup "><!--secciones de la pagina-->
      <div class="navbar-nav ">
        <a class="nav-link active" aria-current="page"  href="/ ">Inicio</a> 
       <!--Indicador de pagina actual-->
        <a class="nav-link " href="/about">Sobre Nosotros</a>
        <a class="nav-link " href="/agenda"">Agenda</a>
        <a class="nav-link " href="/foro  ">Foro</a>
        <a class="nav-link " href="/mapa ">Mapa</a>
        <a class="nav-link " href="/QR">QR</a>
        <a class="nav-link " href="/login ">Ingresa</a>
        <a class="nav-link " href="/contact ">Contáctanos</a>
        
      </div>
    </div>
  </div>
</nav>

<!--espacio en blanco-->
<p>&nbsp;</p>

<body>
  <!--contenedor translucido que abarca el contenido del foro y sus botones correspondientes, donde su estilo es proveniente de la hoja de estilos en static-->
  <div class='container'>
    <!--espacio en blanco-->
    <p>&nbsp;</p>
    <!--Se crean dos botones, uno para ir al foro y otro para agregar una entrada-->
    <center>
      <a class="btn btn-secondary" href="foro" 
      role="button"> <font font size=5> Foro </font></a>
      <a class="btn btn-secondary" href="agregar_entrada" 
      role="button"> <font font size=5> Agregar una entrada</font></a>
    </center>
    
    <!-- Para obtener los diferentes datos del foro, se crea un ciclo for-->
    {% for post in posts %}
    <section>

        <!--Titulo del post-->
        <h3> {{ post[0] }} </h3>
      
        <!--Contenido del post-->
        <p> {{ post[1] }} </p>

        <!--Nombre o apodo del usuario
        <p> {{ post.nombre }} </p>-->

      </section> 

    {% endfor %}
  </div>
</body> 

<!--espacios en blanco-->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<!--Pie de de pagina ajustado a colores que se asimilen al fondo de pantalla exspuesto en la parte superior-->
  <footer  style="width:100%; margin-left: 0px;"  >
  
    <div class="copyright" style="background-color: #0d47a1;">
        <!--Pie de de pagina ajustado a colores que se asimilen al fondo de pantalla exspuesto en la parte superior-->
        <div class="container-fluid" style="background-color: #28374f; color: #ffffff; text-align: center;">
          ©  Copyright: todos los derechos reservados
        </div>  
        <!--capa que contiene la informacion de los desarrolladores de a pagina con el color de fondo y letra determinado-->
        <div class="container-fluid" style="background-color: #28374f; color: #ffffff; text-align: center;">
            Desarrolladores: Natalia Andrea Álvarez Hoyos, Julián David Carrillo Reyes, Juan Jose Sanchez Mejia
        </div>
        <!--capa que contiene la ubicación de desarrollo de la pagina con el color de fondo y letra determinado-->
        <div class="container-fluid" style="background-color: #28374f; color: #ffffff; text-align: center;">
          Medellín - Colombia
        </div>
        <!--capa que contiene la univesidad bajo la cual se desarrolla el proyecto con el color de fondo y letra determinado-->
        <div class="container-fluid" style="background-color: #28374f; color: #ffffff; text-align: center;">
          Universidad Nacional de Colombia
        </div>
    </div>
  </footer>
  <!--final del pie de pagina-->
  
</body>
</html>