<!--contenedor que abarca todo el contenido presentado en la historia medica-->
<div class="container">
  <header class="header">
    <!--titulo de nivel 1-->
    <h1 id="title" class="text-center">Información Médica </h1>
    <!--parrafo cuya estilizacion determina el centrado de centrado del contenido-->
    <p id="description" class="description text-center">
      La información aquí registrada no la damos a terceros sin su consentimiento. Puede serle de gran ayuada en caso de alguna emergencia tener sus datos veridicos e importados en un código QR.
    </p>
    <!--se invoca la hoja de estilos proveniente de la carpeta static-css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='medica.css')}}">
  </header>
  <!--   -->
  <!-- se crea cada uno de los contenedores, se usa Bootstrap Forms la esctructura form-group, en cada entrada se indica que es texto o numero, se imponene condiciones de dato requerido y el nombre para su almacenamiento en base de datos
  -->
  <form id="survey-form" method="POST">
    <div class="form-group">
      <label id="name-label" for="name">Nombre(s) </label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        placeholder="Ingrese su nombre"
        required
      />
    </div>
    <div class="form-group">
      <label id="name-label" for="name">Apellidos </label>
      <input
        type="text"
        name="last-name"
        id="last-name"
        class="form-control"
        placeholder="Ingrese sus apellidos"
        required
      />
    </div>
    
    <div class="form-group">
      <label id="name-label" for="number">Documento de Identidad(Ingrese unicamente los numeros, no se acpetan puntos ni comas)</label>
      <input
        type="number"
        name="ID"
        class="form-control"
        placeholder="Ingrese su documento de identidad"
        required
      />
    </div>

    <div class="form-group">
      <label id="number-label" for="number"
        >Edad<span class="clue"></span></label
      >
      <input
        type="number"
        name="edad"
        id="edad"
        min="10"
        max="120"
        class="form-control"
        placeholder="Ingrese su edad"
        required
      />
    </div>

     <div class="form-group">
      <label id="name-label" for="name">EPS a la que pertenece </label>
      <input
        type="text"
        name="EPS"
        id="last-name"
        class="form-control"
        placeholder="Ingrese a la EPS que pertenece"
        required
      />
    </div>
    
    
    <!-- en este caso se usa la opcion de Bootstrap Form, una etiqueta select para que se desplieguen varias opciones
  -->
    <div class="form-group">
      <p>Sexo biológico</p>
      <select id="dropdown" name="sex" class="form-control" required>
        <option disabled selected value>Seleccione</option>
        <option value="Hombre">Hombre</option>
        <option value="Mujer">Mujer</option>
        
      </select>
      
    </div>

    <div class="form-group">
      <p>Tipo de sangre</p>
      <select id="dropdown" name="sangre" class="form-control" required>
        <option disabled selected value>Seleccione</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option> 
        <option value="A+">A+</option>
        <option value="A-">A-</option> 
        <option value="B+">B+</option>
        <option value="B-">B-</option> 
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option> 
         
      </select>
      
    </div>

    <div class="form-group">
      <label id="number-label" for="number"
        >Contacto, a quien llamar en caso de emergencia <span class="clue" required minlength="6"></span></label
      >
      <input
        type="number"
        name="contacto"
        id="contacto"
        
        class="form-control"
        placeholder="ingrese el numero de contacto de una persona de confianza"
        required
      />
    </div>

  

     <div class="form-group">
      <p>¿Está usted tomando algún medicamento actualmente?</p>
      <textarea
        class="input-textarea"
        name="medicamento"
        placeholder="Si su respuesta es afirmativa, enliste aquí el nombre del medicamento, la frecuecia con la que los consume"
        required
      ></textarea>
    
    </div>

    <div class="form-group">
      <p>¿Tiene usted alergias?</p>
      <textarea
        class="input-textarea"
        name="allergy"
        placeholder="Si su respuesta es afirmativa, enliste aquí a lo que es alergico"
        required
      ></textarea>
    
    </div>

    <div class="form-group">
      <p>¿Hay alguna informacion que considere importante añadir? (opcional) </p>
      <textarea
        id="comments"
        class="input-textarea"
        name="adicional"
        placeholder="Escriba algun dato especial, que pueda ser utl en caso de emergencia"
      ></textarea>
    </div>

    <div class="form-group">
      <button type="submit" id="submit" class="submit-button">
        Enviar
      </button>
    </div>
  </form>
</div>


<!--Pie de de pagina ajustado a colores que se asimilen al fondo de pantalla exspuesto en la parte superior-->
<footer  style="width:100%; margin-left: 0px;"  >
  <!--capa que contiene el copyright con el color de fondo y letra determinado-->
  <div class="copyright" style="background-color: #0d47a1;">
       <div class="container-fluid" style="background-color: #4e64ba; color: #ffffff; text-align: center;">
         ©  Copyright: todos los derechos reservados
      </div>
      <!--capa que contiene la informacion de los desarrolladores de a pagina con el color de fondo y letra determinado-->
      <div class="container-fluid" style="background-color: #4e64ba; color: #ffffff; text-align: center;">
          desarrolladores: Natalia Andrea Álvarez Hoyos, Julián David Carrillo Reyes, Juan Jose Sanchez Mejia
      </div>
      <!--capa que contiene la ubicación de desarrollo de la pagina con el color de fondo y letra determinado-->
      <div class="container-fluid" style="background-color: #4e64ba; color: #ffffff; text-align: center;">
         Medellín - Colombia
      </div>
      <!--capa que contiene la univesidad bajo la cual se desarrolla el proyecto con el color de fondo y letra determinado-->
      <div class="container-fluid" style="background-color: #4e64ba; color: #ffffff; text-align: center;">
         universidad naconal de colombia
      </div>
  </div>
</footer>
<!--final del pie de pagina-->