<!DOCTYPE html>
<html lang="es">

<head>
	<!--BOOTSTRAP-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	 crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Iniciar sesion | WHY </title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

</head>

<body>
	<!--Barra de navegación-->
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #69BADD; border: 3px solid; color: black;">
		<!--Color y estilo de la barra de navegación-->

		<div class="container-fluid ">
			<!--Contenedor-->
			<a class="navbar-brand " href="# ">
				<h1><strong><span style="color: #000000; font-family: Arial"><form action="https://ta04-1.ta04.repl.co/">
              <input type="submit" value= "W.H.Y 🪐" /></form> </strong></h1> <!--Titulo barra de navegacion-->
        <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup
    " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup "><!--secciones de la pagina-->
        <div class="navbar-nav ">
          <a class="nav-link " href="/ ">Inicio</a> 
        <!--Indicador de pagina actual-->
          <a class="nav-link"href="/about">Sobre Nosotros</a>
          <a class="nav-link " href="#">Agenda</a>
          <a class="nav-link " href="# ">Foro</a>
          <a class="nav-link " href="# ">Mapa</a>
          <a class="nav-link " href="# ">QR</a>
          <a class="nav-link active" aria-current="page'" href="/login ">Registrarse</a>
        
        </div>
      </div>
    </div>
  </nav>
<!--el siguiente bloque de codigo me mostrara mensajes emergentes de error o exito segun los datos en el formulario sean ingresados-->

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if mensajes %}
    {% for category, mensaje in mensajes %}
      {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert>
          {{mensaje}}
          <buttom type="buttom" class="close" data-dismiss="alert">
            <span aria-hiden="true">&times;</span>
           </buttom> 
        </div>
        <div class="alert alert-success alert-dismissable fade show" role="alert>
          {{mensaje}}
          <buttom type="buttom" class="close" data-dismiss="alert">
            <span aria-hiden="true">&times;</span>
           </buttom> 
        </div>        
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- se añade el Fondo de pantalla a partir de la funcion Background donde la imagen se se carga apartir de un url y as caracteristicas de esta se modifican a partir de los valores asignados en background-repeat (repeticion de la imagen segun el tamaño oringinal de la misma),background-attachment(controla si la imagen se mueve o no, al hacer scroll), background-size (tamaño de la imagen) -->

  <style>
  body {
    background-image: url('https://news.uthscsa.edu/wp-content/uploads/2020/07/iStock-1163446624.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 125% 100%;
  }
  </style>

  <!--se crea la caja para iniciar sesion-->
  <div class="login-box">
    
    <h1> Iniciar sesión </h1> <!--titulo-->
    <form mehtod = "post">
      <!--nombre de usuario-->
      <label for="username">Nombre de usuario</label><!--label-->
      <input type="text" placeholder="Ingrese su nombre de usuario"><!--campo para escribir el nombre de usuario-->

      <!--contrasena-->
      <label for="password">Contraseña</label><!--label-->
      <input type="password" placeholder="Ingrese su contraseña"><!--espacio para escribir la contraseña-->

      <input type="submit" value="Iniciar sesión"> <!--boton de enviar/iniciar sesion-->
      <a href="Pswrd_R">¿Olvidó su contraseña?</a> <!--Link que lleva a espacio en caso de que se olvide la contraseña-->
      <br></br>
      <a href="sign_up">Crear una cuenta</a><!--link que lleva a espacio para crear una cuenta-->
    </form>  
    
  </div>  

</body>
</html>