<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historia Medica </title>
</head>
<body>
  {%for datos in data%}
  <div class="Title">
    <h1> Historia Médica de {{ datos[1] }} {{ datos[2] }}</h1>
    <div class="Información personal">
      <p class="Subtitle"> Apellido
  </div>  
  
  <h2>{{ datos[1] }}</h2>
  {%endfor%}

<p>&nbsp;</p>
<p>&nbsp;</p>
  <!--Botón para imprimit--> 

  <!--ubicación de botón, se usa javascript para la función window.print() que imprime toda la pantalla  --> 
<td align="left" valign="top"><a href="javascript:window.print();">
 <!--link a imagen de botón-->
  <img src="https://distribuidoraseikon.files.wordpress.com/2013/08/imprimir.jpg" width="200" height="100" alt="Print" style="display:block;" border="0" /></a>
</td>

<!--contenedor de linea con la accion de imprimir definida -->
  <span class="print-button__content  js__action--print" title="Imprimir">
    Imprimir
  </span>
 
</body>
</html>